@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

p {
    text-align: justify;
    
}
.coy {
    text-indent: 40px;
}
.sumber {
  text-align: end;
  font-family: 'Open Sans', sans-serif;
}